<div id="calendar_container" class="mx-2 md:mx-[15%]">
  <!-- Calendar Controllers -->
  <div
    id="calendar_controllers"
    class="h-24 pt-5 px-5 bg-white flex flex-row-reverse mt-4 rounded-lg items-center"
  >
    <!-- Calendar Type Dropdown -->
    <mat-form-field>
      <mat-label>نوع تقویم</mat-label>
      <mat-select
        [(value)]="selectedCalendarType"
        (selectionChange)="onCalendarTypeChange($event)"
      >
        <mat-option
          *ngFor="let calendarType of calendarTypes"
          [value]="calendarType.value"
        >
          {{ calendarType.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Month Navigation -->
  <div
    [ngClass]="calendarDirection"
    class="flex justify-between items-center my-4"
  >
    <button
      class="flex items-center"
      mat-icon-button
      color="primary"
      (click)="goToPreviousMonth()"
    >
      <mat-icon>{{ previousIcon }}</mat-icon>
      <span class="mx-1 text-[2vw] md:text-[1.5vw] lg:text-[1.1vw]">
        {{ previousText }}
      </span>
    </button>
    <span class="font-bold text-[2vw] md:text-[1.5vw] bg:text[1.2vw]">
      {{ currentMonth }} {{ formattedCurrentYear }}
    </span>
    <button
      class="flex items-center"
      mat-icon-button
      color="primary"
      (click)="goToNextMonth()"
    >
      <span class="mx-1 text-[2vw] md:text-[1.5vw] lg:text-[1.1vw]">
        {{ nextText }}
      </span>
      <mat-icon>{{ nextIcon }}</mat-icon>
    </button>
  </div>

  <!-- Calendar Grid -->
  <div
    id="calendar"
    [ngClass]="calendarDirection"
    class="grid grid-cols-7 gap-2 bg-white mt-4 p-4 rounded-lg"
  >
    <!-- Week Days -->
    <div class="font-bold text-center" *ngFor="let day of weekDays">
      <span class="text-[2vw] md:text-[1.5vw] lg:text-[1.1vw]">{{ day }}</span>
    </div>

    <!-- Calendar Days -->
    <div
      *ngFor="let day of calendarDays"
      class="border p-2 text-center"
      [ngClass]="{ 'bg-yellow-200': day.isToday }"
    >
      {{ day.date == 0 ? "" : getLocalizedDayText(day.date) }}
    </div>
  </div>
</div>
